.sticky {
    /* General */
    width: 200px;
    height: 25%;
    /* Font */
    font-family: 'Nothing You Could Do', Arial;
    font-size: 1.4em;
    /* Shadow */
    -webkit-box-shadow: 10px 10px 29px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 29px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 29px -8px rgba(0,0,0,0.75);
    /* Background */
    background: #fefdca !important; /* Old browsers */
    background: -moz-linear-gradient(top, #fefdca 0%, #f7f381 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefdca), color-stop(100%,#f7f381)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fefdca 0%,#f7f381 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fefdca 0%,#f7f381 100%) !important; /* Opera11.10+ */
    background: -ms-linear-gradient(top, #fefdca 0%,#f7f381 100%) !important; /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefdca', endColorstr='#f7f381',GradientType=0 ) !important; /* IE6-9 */
    background: linear-gradient(top, #fefdca 0%,#f7f381 100%) !important; /* W3C; A catch-all for everything else */
}
 
.sticky ol {
    margin: 12px;
}
 
.sticky p {
    
    display: inline-block;
    width: 100%;
    height:100%;
    margin: 0 0 0px;
}

.sticky p:focus {
   outline:none;
}

.note-header {
    width: 100%;
    height: 20%;
    background-color: #BEF1BA;
}

.note-body{
    width: 100%;
    height: 71%;
    overflow: auto;
    padding-left: 5px;
    padding-top: 5px;
}

.note-body::-webkit-scrollbar{
width:16px;
background-color:#F0F0D0;
} 

.note-body::-webkit-scrollbar-thumb{
background-color:#F0F0D0;
border-radius:10px;
}

.note-body::-webkit-scrollbar-thumb{
background-color:#F0F0D0;
border:1px solid #333333;
}

.note-body::-webkit-scrollbar-track{
border:1px gray solid;
border-radius:10px;
background-color:#F9F9D9;
}
.sticky{
    position: absolute !important;
}

.note-delete{
    float: right;
}

.add-note {
    font-size: 4.333333em;
    margin-left: 2%;
}

.add-note a{
    color: rgb(238, 238, 238);
}

.ui-resizable-handle {
    z-index: 0 !important;
}